.card {
  width: 100%;
  height: 25ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://v7markets.com/img/card-image2.svg);
  /* background-size: cover; */
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

