.bg-dark {
  background: #05113b !important;
}

.bg-primary {
  background-color: none;
}

.NavMain-StyledNavbar-module--cls2--2pVZv {
  background: rgba(0, 0, 0, 0);
}

.nav_black {
  background-color: #111;
}

.navbar-light .navbar-nav .nav-link {
  color: "white";
  font-family: "Open Sans";
  font-weight: "bold";
}

.navbar-light .navbar-nav .nav-link :hover {
  color: #0c2b5b;
}

.navh {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  margin-top: 8px;
  margin-right: 15px;
}

.navBtn {
  margin-top: 7px;
  margin-right: 15px;
}

.navh :hover {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none !important;
}

a:link :hover {
  text-decoration: none !important;
  color: aqua !important;
}
